In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext sql

In [2]:
%sql sqlite:///results.db

# Redefining commands

`A = A C`

Redefining occurs when we declare an alias of the same name as (one of) the command(s) that it aliases.

In [8]:
%%sql
with total as (select count(*) as total from alias)
select 
    count(distinct alias_id) as '#', 
    round(count(distinct alias_id)*100.0/total,2) as '%' 
from alias join command using (alias_id)
join total
where alias.name = command.name;

 * sqlite:///results.db
Done.

[(319239, 14.48)]

#### How many of these are scripts?

In [14]:
%%sql
with 
    total as (select count(*) as total from alias),
    total_redefines as (
        select count(distinct alias_id) as total_redefines
        from alias join command using (alias_id)
        where alias.name = command.name
    )
select 
    count(distinct alias_id) as '#', 
    round(count(distinct alias_id)*100.0/total,2) as '%',
    round(count(distinct alias_id)*100.0/total_redefines,2) as '% of redefines'
from alias join command using (alias_id)
join total
join total_redefines
where alias.name = command.name
and alias.num_commands != 1;

 * sqlite:///results.db
Done.

[(5075, 0.23, 1.59)]

#### How many use `sudo`?

In [15]:
%%sql
with 
    total as (select count(*) as total from alias),
    total_redefines as (
        select count(distinct alias_id) as total_redefines
        from alias join command using (alias_id)
        where alias.name = command.name
    )
select 
    count(distinct alias_id) as '#', 
    round(count(distinct alias_id)*100.0/total,2) as '%',
    round(count(distinct alias_id)*100.0/total_redefines,2) as '% of redefines'
from alias join command using (alias_id)
join total
join total_redefines
where alias.name = command.name
and command.sudo = 1;

 * sqlite:///results.db
Done.

[(7468, 0.34, 2.34)]