In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext sql

In [2]:
%sql sqlite:///results.db

# Scripts

Any alias that is a composition of two or more commands.

In [4]:
%%sql
with total as (select count(*) as total from alias)
select 
    count(distinct alias_id) as '#', 
    round(count(distinct alias_id)*100.0/total,2) as '%'
from alias join command using (alias_id)
join total
where alias.num_commands != 1;

 * sqlite:///results.db
Done.

[(204142, 9.26)]

In [6]:
%%sql
with total as (select count(*) as total from alias)
select num_commands, count(*) as '#', round(count(*)*100.0/total,2) as '%'
from alias 
join total
group by num_commands
order by count(*) desc
limit 10;

 * sqlite:///results.db
Done.

[(1, 2000057, 90.74),
 (2, 137740, 6.25),
 (3, 38178, 1.73),
 (4, 15095, 0.68),
 (5, 5799, 0.26),
 (6, 3471, 0.16),
 (7, 1481, 0.07),
 (8, 998, 0.05),
 (9, 642, 0.03),
 (10, 263, 0.01)]

### Most used operators

In [11]:
%%sql
with total as (select count(*) as total from command where operator is not null)
select operator, count(*), round(count(*)*100.0/total, 2) 
from command 
join total
where operator is not null
group by operator 
order by 2 desc

 * sqlite:///results.db
Done.

[('|', 137000, 39.66),
 (';', 102277, 29.61),
 ('&&', 92849, 26.88),
 ('&', 9653, 2.79),
 ('||', 2910, 0.84),
 ('|&', 746, 0.22)]

### Operators by position

In [19]:
%%sql ops_pos << 
select operator, position as pos, count(*) as num 
from command
where operator is not null
group by position, operator 
order by operator, position asc, num desc

 * sqlite:///results.db
Done.
Returning data to local variable ops_pos

In [20]:
ops_pos = ops_pos.DataFrame().pivot(index='pos', columns='operator', values='num')[:11]
ops_pos = ops_pos.sort_values(ops_pos.first_valid_index(), axis=1, ascending=False)
ops_pos

operator        |     |&       &        ;       &&      ||
pos
0         14619.0  671.0    62.0     61.0     51.0     3.0
1         78082.0   62.0  8109.0  53208.0  62901.0  1780.0
2         25622.0   10.0   897.0  22083.0  17124.0   666.0
3          9923.0    3.0   249.0  11100.0   6744.0   205.0
4          4307.0    NaN   102.0   5781.0   2824.0   115.0
5          2617.0    NaN    54.0   3370.0   1247.0    42.0
6           903.0    NaN    33.0   2215.0    686.0    22.0
7           464.0    NaN    29.0   1502.0    368.0    15.0
8           149.0    NaN    22.0    985.0    215.0     9.0
9            76.0    NaN    15.0    467.0    170.0    10.0
10           56.0    NaN     9.0    308.0     98.0     4.0

### Pipelines

In [3]:
%%sql
with total as (select count(*) as total from alias)
select count(distinct alias_id) as '#', round(count(distinct alias_id)*100.0/total,2) as '%'
from alias join command using (alias_id)
join total
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|');

 * sqlite:///results.db
Done.

[(74719, 3.39)]

In [11]:
%%sql
select command.name, count(*)
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
group by command.name
order by count(*) desc
limit 20;

 * sqlite:///results.db
Done.

[('grep', 34487),
 ('xargs', 10505),
 ('sort', 10037),
 ('ps', 8716),
 ('git', 8017),
 ('ls', 7303),
 ('head', 6490),
 ('sed', 5090),
 ('awk', 4957),
 ('find', 4445),
 ('cut', 4191),
 ('history', 3764),
 ('tr', 3566),
 ('less', 3478),
 ('pbcopy', 3149),
 ('ifconfig', 3141),
 ('du', 3093),
 ('echo', 2578),
 ('tail', 2266),
 ('more', 2174)]

In [13]:
%%sql
select command.name, command.position, count(*)
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and command.position = 0
group by command.name
order by count(*) desc
limit 20;

 * sqlite:///results.db
Done.

[('ps', 0, 8714),
 ('git', 0, 7900),
 ('ls', 0, 7294),
 ('find', 0, 4444),
 ('history', 0, 3763),
 ('ifconfig', 0, 3141),
 ('du', 0, 3091),
 ('echo', 0, 2075),
 ('cat', 0, 1724),
 ('lsof', 0, 1357),
 ('docker', 0, 1349),
 ('curl', 0, 1232),
 ('/usr/sbin/lsof', 0, 1124),
 ('pwd', 0, 1014),
 ('tr', 0, 945),
 ('tcpdump', 0, 891),
 ('ll', 0, 787),
 ('2>&1', 0, 778),
 ('alias', 0, 718),
 ('netstat', 0, 692)]

In [14]:
%%sql
select command.name, command.position, count(*)
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and command.position = 1
group by command.name
order by count(*) desc
limit 20;

 * sqlite:///results.db
Done.

[('grep', 1, 28833),
 ('sort', 1, 6492),
 ('xargs', 1, 4688),
 ('head', 1, 3479),
 ('less', 1, 2893),
 ('sed', 1, 2646),
 ('pbcopy', 1, 2389),
 ('egrep', 1, 1810),
 ('awk', 1, 1730),
 ('tr', 1, 1458),
 ('more', 1, 1317),
 ('tail', 1, 1189),
 ('cut', 1, 999),
 ('column', 1, 721),
 ('wc', 1, 627),
 ('xclip', 1, 618),
 ('tee', 1, 609),
 ('perl', 1, 588),
 ('fzf', 1, 531),
 ('uniq', 1, 498)]

In [15]:
%%sql
select command.name, command.position, count(*)
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and command.position = 2
group by command.name
order by count(*) desc
limit 20;

 * sqlite:///results.db
Done.

[('grep', 2, 4127),
 ('awk', 2, 2662),
 ('xargs', 2, 2349),
 ('head', 2, 1999),
 ('sort', 2, 1701),
 ('cut', 2, 1460),
 ('sed', 2, 1427),
 ('GET', 2, 843),
 ('pbcopy', 2, 589),
 ('tail', 2, 549),
 ('less', 2, 475),
 ('echo', 2, 443),
 ('more', 2, 329),
 ('uniq', 2, 327),
 ('wc', 2, 309),
 ('command', 2, 296),
 ('tr', 2, 263),
 ('egrep', 2, 172),
 ('xclip', 2, 162),
 ('column', 2, 140)]

In [16]:
%%sql
select command.name, command.position, count(*)
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and command.position = 3
group by command.name
order by count(*) desc
limit 20;

 * sqlite:///results.db
Done.

[('xargs', 3, 1934),
 ('tr', 3, 845),
 ('grep', 3, 744),
 ('cut', 3, 627),
 ('sort', 3, 581),
 ('head', 3, 477),
 ('uniq', 3, 462),
 ('awk', 3, 378),
 ('sed', 3, 371),
 ('tail', 3, 111),
 ('pbcopy', 3, 101),
 ('column', 3, 69),
 ('wc', 3, 60),
 ('less', 3, 49),
 ('perl', 3, 45),
 ('', 3, 37),
 ('egrep', 3, 35),
 ('rev', 3, 31),
 ('c2', 3, 27),
 ('colrm', 3, 20)]

---
## By Command

In [18]:
%%sql
select 
    cmd_name,
    count(distinct alias_id) as num,
    round(count(distinct alias_id)*100.0/total,2) as per
from (
    select command.name as cmd_name, alias_id
    from alias join command using (alias_id)
    where alias.num_commands > 1
    and alias_id not in
    (select alias_id from command where command.operator != "" and command.operator != '|')
)
join command_alias_totals using (cmd_name)
group by cmd_name
having num > 1000 and per > 25
order by per desc, num desc

 * sqlite:///results.db
Done.

[('uniq', 1742, 89.84),
 ('sort', 8965, 82.99),
 ('cut', 3956, 81.58),
 ('xargs', 10348, 76.01),
 ('ifconfig', 3141, 75.63),
 ('awk', 4605, 73.59),
 ('tr', 3477, 71.76),
 ('head', 6482, 71.35),
 ('ps', 8716, 66.45),
 ('/usr/sbin/lsof', 1124, 65.85),
 ('sed', 4499, 59.63),
 ('wc', 1097, 46.72),
 ('pbcopy', 3148, 45.13),
 ('lsof', 1357, 44.68),
 ('more', 2174, 38.09),
 ('grep', 29987, 34.82),
 ('history', 3764, 33.98),
 ('find', 4445, 28.77)]

This next one counts all commands that are preceded by a pipe, not just those in purely pipeline aliases.

In [20]:
%%sql
select 
    cmd_name,
    count(distinct alias_id) as num,
    round(count(distinct alias_id)*100.0/total,2) as per
from (
    select command.name as cmd_name, alias_id
    from command
    where command.operator = '|'
)
join command_alias_totals using (cmd_name)
group by cmd_name
having num > 1000 and per > 25
order by per desc, num desc

 * sqlite:///results.db
Done.

[('uniq', 1882, 97.06),
 ('sort', 10367, 95.97),
 ('head', 8392, 92.37),
 ('cut', 4345, 89.61),
 ('xargs', 12185, 89.5),
 ('column', 1061, 87.25),
 ('awk', 5178, 82.74),
 ('wc', 1818, 77.43),
 ('sed', 5282, 70.01),
 ('tr', 2900, 59.86),
 ('pbcopy', 4145, 59.43),
 ('grep', 34409, 39.95),
 ('less', 5781, 35.37),
 ('tail', 3402, 34.29),
 ('more', 1898, 33.26)]

---
Alias names for pipelines

In [12]:
%%sql
select alias.name, count(distinct alias_id) as '#'
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
group by alias.name
order by 2 desc
limit 100;

 * sqlite:///results.db
Done.

[('lsd', 1827),
 ('ips', 1407),
 ('lm', 1230),
 ('psg', 1106),
 ('httpdump', 847),
 ('chromekill', 715),
 ('h', 638),
 ('c', 633),
 ('gd', 591),
 ('openPorts', 583),
 ('lsockU', 563),
 ('lsockT', 562),
 ('hg', 517),
 ('pubkey', 484),
 ('cpu_hogs', 480),
 ('memHogsPs', 476),
 ('memHogsTop', 472),
 ('hgrep', 463),
 ('ifactive', 449),
 ('psgrep', 427),
 ('tree', 421),
 ('path', 386),
 ('psmem', 386),
 ('hist', 375),
 ('pscpu', 365),
 ('ducks', 363),
 ('pg', 361),
 ('lh', 345),
 ('myip', 342),
 ('d', 332),
 ('ip', 330),
 ('psmem10', 317),
 ('gignored', 314),
 ('p', 313),
 ('pscpu10', 308),
 ('dus', 305),
 ('f', 304),
 ('mount', 293),
 ('lf', 292),
 ('gbda', 285),
 ('cpwd', 283),
 ('lsg', 278),
 ('diskspace', 267),
 ('lg', 257),
 ('ll', 256),
 ('LL', 238),
 ('gtv', 238),
 ('lll', 238),
 ('localip', 236),
 ('grm', 230),
 ('hs', 225),
 ('top10', 219),
 ('ldir', 207),
 ('cwd', 198),
 ('CA', 196),
 ('gdv', 190),
 ('du', 171),
 ('P', 170),
 ('ld', 168),
 ('lld', 164),
 ('histg', 159),
 ('which', 154),
 ('gh', 148),
 ('l.', 141),
 ('psr', 136),
 ('lsl', 135),
 ('history-stat', 133),
 ('ports', 133),
 ('gtls', 130),
 ('topcpu', 129),
 ('cpu', 128),
 ('lt', 128),
 ('weather', 119),
 ('count', 117),
 ('ds', 116),
 ('folders', 114),
 ('lsf', 112),
 ('profileme', 111),
 ('es', 105),
 ('gdi', 104),
 ('folderssort', 102),
 ('gl', 99),
 ('pp', 99),
 ('pss', 99),
 ('colorslist', 98),
 ('ff', 96),
 ('battery', 95),
 ('llg', 94),
 ('filecount', 92),
 ('ipview', 92),
 ('bat', 91),
 ('env', 86),
 ('gf', 86),
 ('pwdc', 84),
 ('trimcopy', 84),
 ('hi', 83),
 ('l', 77),
 ('pgrep', 77),
 ('recent', 77),
 ('shrug', 77)]

In [38]:
%%sql
select count(*), alias.name, alias.value
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and alias.name = 'lsd'
group by alias.value, alias.name
order by 1 desc
limit 50;

 * sqlite:///results.db
Done.

[(1562, 'lsd', "ls -lF ${colorflag} | grep --color=never '^d'"),
 (404, 'lsd', 'ls -l | grep "^d"'),
 (206, 'lsd', 'ls -lF ${colorflag} | grep "^d"'),
 (110, 'lsd', 'ls -l ${colorflag} | grep "^d"'),
 (96, 'lsd', 'CLICOLOR_FORCE=1 ll | grep --color=never "^d"'),
 (94, 'lsd', "ls -lhF ${colorflag} | grep --color=never '^d'"),
 (74, 'lsd', 'ls -alF | grep /$'),
 (62, 'lsd', 'ls -Gal | grep ^d'),
 (56, 'lsd', 'ls -l | grep ^d'),
 (46, 'lsd', "ls -lF --color | grep --color=never '^d'"),
 (42, 'lsd', "ls -lF | grep --color=never '^d'"),
 (26, 'lsd', 'ls -F | grep /'),
 (24, 'lsd', 'll | grep "^d"'),
 (24, 'lsd', "ls -l | grep '^d'"),
 (22, 'lsd', 'ls | grep ^d'),
 (21, 'lsd', '/bin/ls -FAv | grep /$ | column'),
 (20, 'lsd', 'ls -al | grep ^d'),
 (14, 'lsd', 'find . -maxdepth 1 -type d | sort'),
 (14, 'lsd', "ls -lF -G | grep --color=never '^d'"),
 (12, 'lsd', 'ls -lF | grep "^d"'),
 (12, 'lsd', "ls -la | grep '^d'"),
 (10, 'lsd', 'ls -Gl | grep "^d"'),
 (10, 'lsd', 'ls -lF -G | grep "^d"'),
 (10, 'lsd', "ls -lFh $COLORFLAG | grep --color=never '^d'"),
 (10, 'lsd', 'ls -lh | grep "^d"'),
 (9, 'lsd', 'ls -alF --color | grep \\/ | sort'),
 (8, 'lsd', 'gls -l | grep "^d"'),
 (8, 'lsd', 'll | grep ^d'),
 (8, 'lsd', "ls -F ${colorflag} | grep --color=never '^d'"),
 (8, 'lsd', 'ls -al -d * | egrep "^d"'),
 (8, 'lsd', 'ls -al | grep "^d"'),
 (8, 'lsd', 'ls -l --color | grep "^d"'),
 (8, 'lsd', "ls -l | egrep '^d'"),
 (8, 'lsd', "ls -l | grep '^[dl]'"),
 (8, 'lsd', "ls -l | grep --color=never '^d'"),
 (8, 'lsd', "ls -lFh ${colorflag} | grep --color=never '^d'"),
 (8, 'lsd', 'ls -lhF ${colorflag} | grep "^d"'),
 (6, 'lsd', "/bin/ls -lF ${colorflag} | grep --color=never '^d'"),
 (6, 'lsd', "ls -F | \\grep / | tr '\\n' '\\t'"),
 (6, 'lsd', "ls -d */ | sed 's/\\// /g' | xargs ls -d --color"),
 (6, 'lsd', "ls -l ${colorflag} | grep --color=never '^d'"),
 (6, 'lsd', 'ls -l --color=always | grep ^"d"'),
 (6, 'lsd', 'ls -l -G | grep "^d"'),
 (6, 'lsd', "ls -lF ${colorflag} | grep '^d'"),
 (6, 'lsd', "ls -lF --color=auto | grep --color=never '^d'"),
 (6, 'lsd', 'ls -lFG | grep "^d"'),
 (6, 'lsd', "ls -lFG | grep --color=never '^d'"),
 (6, 'lsd', 'ls -la | grep ^d'),
 (6, 'lsd', 'ls -lah | grep "^d"'),
 (6, 'lsd', "ls -lh | grep --color=never '^d'")]

In [44]:
%%sql
select count(*), alias.name, alias.value
from alias join command using (alias_id)
where alias.num_commands > 1
and alias_id not in
(select alias_id from command where command.operator != "" and command.operator != '|')
and alias.name = 'pg'
group by alias.value, alias.name
order by 1 desc
limit 10;

 * sqlite:///results.db
Done.

[(206, 'pg', 'ps aux | grep'),
 (102, 'pg', 'ps -Af | grep $1'),
 (70, 'pg', 'ps -ef | grep'),
 (26, 'pg', 'ps aux | grep -i'),
 (24, 'pg', 'ps ax | grep'),
 (20, 'pg', 'ping -c 1 google.com | tail -3'),
 (15, 'pg', 'ps ax | grep -v grep | grep -i'),
 (10, 'pg', 'ps -e | grep'),
 (10, 'pg', 'ps auwwx | grep -i -e ^USER -e'),
 (10, 'pg', 'ps aux | grep $1')]