In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
%load_ext sql

In [2]:
%sql sqlite:///results.db

In [3]:
%sql select count(*) as number_of_aliases from alias

 * sqlite:///results.db
Done.

[(2204199,)]

In [4]:
%sql select count(*) as number_of_commands from command

 * sqlite:///results.db
Done.

[(2534167,)]

In [5]:
%sql select count(*) as number_of_arguments from argument

 * sqlite:///results.db
Done.

[(3630423,)]